<div>
  <h1 (click) = "onClick()">{{title}}</h1>
  <div> <h3>Todo List</h3></div>
  <div>
    <ul *ngFor="let todo of todos">
      <li>{{todo.item}}</li>
    </ul>
  </div>

  <button (click)="onRemove()">Remove Component</button>
  <app-add *ngIf="canShow" [item]="item" (addTodo)="addItem($event)"></app-add>

  <!-- <form> -->
    <!-- <div>
      <label>Enter a todo</label>
      <input [(ngModel)]="newItem" />
    </div>
    <button (click) = "add($event)" class="button" type="submit">Add</button> -->
  <!-- </form> -->
</div>
